body{
    background-color:rgb(109, 108, 153);
}
.subimages{
    width: 23%;
    border: 1px solid;
    border-radius: 5px;
}
.bigimage{
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
.discount{
    text-decoration: line-through;
    margin-right: 10px;
}
.previousprice{
    font-size: 16px;
    text-decoration: line-through;
}
.off{
    font-size: 16px;
    background-color: rgb(8, 8, 8);
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
}
.form-control{
    background-color: rgb(39, 19, 19);
    color: #fff;
}